{% extends "pages/__base.html" %}
{% load staticfiles %}

{% block body %}

    <div class="row">
        <div class="container text-center">
        <!--logo -->
            <div class="row text-center">
{% if not query %}                <div class="col-md-12" style="padding-top:10%" id="topspace"></div>{% endif %}
                <div>
                <img  src="{% static 'images/logo.png' %}" width="700px"/>       
                </div>
                <form class="row" id="search_form" action="/" method="GET">
                    <div class="input-group">
                      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                      <input type="text" class="form-control" placeholder="Search Query" id="search" name = "q" style="height:50px" onkeyup = "startcompletion()" value="{{ query }}"/>
                      <div class="input-group-btn"><input type="submit" value="Search" class="btn btn-primary" style="height:50px; width:100px"></div>
                    </div>
                </form>

{% if query %}<br/><br/><p>Showing result for &quot;<strong>{{ correctedquery }} </strong> &quot;{% if correctedquery != query  %} Show instead for &quot;<strong> {{ query }} {% endif %}</strong>&quot;</p>{% endif %}
<br>Parsed:<b>{{parsedquery}}</b>
            </div>
    </div>
    </div>

<script>
function startcompletion() {
    var search = $('#search').val()
    var data = {
        search: search
    };
    $.ajax({
        url: '/autocomplete',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'autocomplete'
    });
}


function autocomplete(data) {
console.log("here");
    $( "#search" ).autocomplete ({
        source: data
    });
}

$(function() {
$('#search_form').submit(function(event) {
    // we have to load the search result with ajax later
//this function will slide the division "topspace" up and 
//display the result.
});
});

</script>
{% endblock body %}
