{% extends "pages/__base.html" %}

{% load staticfiles %}

{% block body %}
    <div class="container" style="width:30%;margin-top:10%;background-color: #eee;height:300px;border-radius:10px ">

      <form class="form-signin" role="form" method="post" action="{{ request.get_full_path }}">
      {% csrf_token %}

        <h2 class="form-signin-heading">{{ title }}</h2>
         <div class="login-wrap">


         {% if messages %}
        <div class="alert alert-success fade in">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          {% for message in messages %}
                {{ message }}<br/>
          {% endfor %}
        </div>
        {% endif %}

        {% if error %}
          <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>         
           {{ error }}
           </div>  
         {% endif %}

        <input type="text" class="form-control" placeholder="User name" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        
        <label class="checkbox">
          <input type="checkbox" value="remember-me" name="remember"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
      </form>

    </div> <!-- /container -->
{% endblock body %}