{% extends "pages/__base.html" %}
{% load staticfiles %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% block body %}
    <div class="container">         


      
      <img  src="{% static 'images/user_round.png' %}" style="height:40px; width:40px;" />
      <strong> Hi, {{ user }}!</strong>      
      <a class="btn btn-primary" href="{% url 'homepage' %}">Homepage</a>      
      <a class="btn btn-primary" href="{% url 'authuser:signout' %}">Logout</a>
      <hr/>
      <h2 class=""> This is the settings page! </h2>
      <a class="btn btn-primary" href="{% url 'homepage' %}">Plugins</a>
      <a class="btn btn-primary" href="{% url 'homepage' %}">History</a>
     



    </div> <!-- /container -->
{% endblock body %}